@charset "utf-8";

/* reset */
*{
margin:0;padding:0; 
}

ul{list-style:none;}
li,a{text-decoration:none;}
   
body{
    width:auto;height:9322px;
    overflow-x: hidden;
}

/* header 부분 */
#header {
    width:1200px;height:36px;margin:auto;
    font:bold 16px/20px arial;

}
#header :hover{
    color:#c0c0c0;
}
#header > a {
    padding:12px;
    color:#000000;
}
#header > #login {
    display:inline;
    float:right;
    padding-right:12px;
}
#header > #login a{
    
    color:#000;
}
#header > #login :hover{
    color: #c0c0c0; 
}
 
/* logo 부분 */
#logo {
    padding-top:12px;
    padding-bottom:42px;
    text-align:center;
}
#logo {
    font:18px/50px arial;
    font-family: 'Nanum Gothic', sans-serif;
}
#logo a{
    color:#000;
}

/* 카테고리 */


/* 카테고리부분 */

.border{
    width:1900px;height:60px;margin:auto;
    border:1px solid #000;
}

.border > #Category1{
    width:1200px;height:60px;margin:auto;
    text-align:center;
    padding:18px;
    font:bold 18px/24px arial;
}
.border > #Category1 > a {
    padding:65px;
    color:#000;
}
.border > #Category1 > a:hover{
   color:#c0c0c0;
}
.border > #Category1 > a:hover > p{
    overflow:hidden;
}

/* 상품 이미지 설정 */
.Mainvisual{
    width:1200px;height:675px;margin:auto;
 
}
.Mainvisual #left{
    width:409px;height:612px;
    float:left;
    padding:24px;
}
.Mainvisual p:nth-child(1){
    width:342px;height:455px;margin:auto;
    background:url(../images/img/sub/sub_images/센트클로--상품_18.jpg) no-repeat;
    background-size: 105%;
}
/* left1 */ 
#left1{
    width:60px;height:100px;
    border-right:1px solid #000;
    position: relative;
    left:40px;
    bottom:16%;
    font-size: 8px;
}
#left1 h1{
    text-align: center;
    font:bold 12px/45px arial;
}
#left1 p{
    text-align: center;
    font:bold 14px/12px arial;
}
/* left2 */
#left2{
    width:341px;height:98px;margin:auto;
    border:1px solid #000;
}
#left2 h1{
    text-align: center;
    font:12px/24px arial;
 
}
#left2 a{
    position: relative;
    top:22%;
    left:25%;
    border:1px solid #000; 
    padding: 16px;
}
/* right */
.right{
    width:522px;height:570px;margin:auto;
    position: relative;
    top:3.5%;
    left:5%;
}
#title h1{
    position: relative;
    right:12%;
    top:2px;
    padding:18px;
    color:#c0c0c0;
    font:bold 16px/24px arial;
} 
#title p{
    display:inline;
    position: relative;
    right:60px;
    bottom:12px;
    font:12px/14px arial;
    color:#fff;
}
#title p:nth-child(2){
    padding:2px;
    background-color: #ffaae1;
}#title p:nth-child(3){
    padding:2px;
    background-color: #804000;
}
/* 할인전  */
#pay{
    width:352px;height:246px;margin:auto;
    position: relative;
   right: 10%;
   padding:50px;
   display: inline;
   
}
#pay table{
   position: relative;
   right:35px;
   bottom:12px;
}
#pay table tr td{
    padding:8px;
}
.checkbox{
    width:70px;height:30px;
    position: relative;
    background-color: #fff;
    font:bold 12px/14px arial;
    bottom:8%;
    left:-20%;
}
#size{
    width:56px;height:25px;
    position: relative;
    bottom:15%;
    left:15%;
    font:bold 6px/10px arial;
    background-color: #fff;
}
#size:hover{
    color:red;
}
#size:hover:after > {
    color:blue;
}
#color{
    width:40px;height:20px;margin:auto;
    position: relative;
    bottom:26%;
    left:11%;
}
#color:active{
    background-color: aquamarine;
    border:3px solid #000;
}
#color{
    background-color: aquamarine;
    position: relative;
    left:-35%;
    top:-21%;
}

.buybutton{
    width:400px;
    border-top:1px solid #000;margin:auto;
    position: relative;
    left:50px;
    bottom:30px;
}

.buybutton #buybutton{
    width:77px;height:35px;
    position: relative;
    right:10%;
    top:8px;
    background-color:#c0c0c0;
    border:1px solid #000;
    color:#fff;
}
.buybutton #AddCart{
    width:77px;height:35px;
    position: relative;
    right:12%;
    top:8px;
    background-color:#fff;
    border:1px solid #000; 
}
.total{
    float:right;
    position: relative;
    top:15px;
    right:12px;
}
.total h1{
    float:left;
    font:bold 14px/24px arial;
}
.total p{
    font:bold 15px/24px arial;
    float:right;
}

 
/* 상품설명 1 */
.menu{
    width:1200px;margin:auto;
    position: relative;
    top:24px;
    border:1px solid #000;
}
.menu ul li{
    margin:auto;
    float: left;
}
.menu ul li:nth-child(1){
    width:300px;height:65px;
    position: relative;
    right:458px;
    border:1px solid #000;
    background-color: #c0c0c0;
}
.menu ul li:nth-child(1):hover{
    color:blue;
}
.menu ul li:nth-child(2){
    width:300px;height:65px;
    position: relative;
    right:458px;
    border:1px solid #000;
}.menu ul li:nth-child(3){
    width:300px;height:65px;
    position: relative;
    left:145px;
    bottom:67px;
    border:1px solid #000
}.menu ul li:nth-child(4){
    width:295px;height:65px;
    position: relative;
    bottom:67px;
    left:144px;
    border:1px solid #000
}
.menu ul li{
    text-align:center;
}
.menu ul li a{
    position: relative;
    top:25%;
    color:#000;
}
 
/* 상품 이미지1 */
.image88{
    width:1200px;height:1950px;margin:auto;
    border:1px solid #000;
}

/* 상품 이미지2 */
.image1{
    width:1200px;height:4000px;margin:auto;
    border:1px solid #000;
}
.image2{
    width:1200px;height:945px;margin:auto;
    border:1px solid #000;
}

.e{
    width:1200px;height:2113px;margin:auto;
    border:1px solid #000;
}

.footer{
    width:1900px;height:186px;margin:auto;
    border:1px solid #000;
}