    @charset "utf-8";

    /* reset */
    *{
        margin:0;padding:0;
    }

    ul{list-style:none;}

    li,a{text-decoration:none;}
   
   
  
/* header 부분 */
#header {
    width:1200px;height:36px;margin:auto;
    font:bold 16px/20px arial;
}
#header :hover{
    color:#c0c0c0;
}
#header > a {
    padding:12px;
    color:#000000;
}
#header > #login {
    display:inline;
    float:right;
    padding-right:12px;
}
#header > #login a{
    
    color:#000;
}
#header > #login :hover{
    color: #c0c0c0; 
}
 
/* logo 부분 */
#logo {
    padding-top:12px;
    padding-bottom:42px;
    text-align:center;
}
#logo {
    font:18px/50px arial;
    font-family: 'Nanum Gothic', sans-serif;
}
#logo a{
    color:#000;
}

/* 카테고리 */


/* 카테고리부분 */

.border{
    width:1900px;height:60px;margin:auto;
    border:1px solid #000;
}

.border > #Category1{
    width:1200px;height:60px;margin:auto;
    text-align:center;
    padding:18px;
    font:bold 18px/24px arial;
}
.border > #Category1 > a {
    padding:65px;
    color:#000;
}
.border > #Category1 > a:hover{
   color:#c0c0c0;
}
.border > #Category1 > a:hover > p{
    overflow:hidden;
}

/* 상품 이미지 설정 */
.Mainvisual{
    width:1200px;height:612px;margin:auto;
    border:1px solid #000;
}
.Mainvisual #left{
    width:409px;height:612px;
    float:left;
    padding:24px;
}
.Mainvisual p:nth-child(1){
    width:342px;height:455px;margin:auto;
    background:url(../images/img/sub/sub_images/센트클로--상품_18.jpg)no-repeat;
    background-size: 100%;
}
/* 상품 이미지1 */
.image88{
    width:1200px;height:1950px;margin:auto;
    border:1px solid #000;
}

/* 상품 이미지2 */
.image1{
    width:1200px;height:1943px;margin:auto;
    border:1px solid #000;
}
.image2{
    width:1200px;height:403px;margin:auto;
    border:1px solid #000;
}
.buyreview{
    width:1200px;height:2213px;margin:auto;
    border:1px solid #000;
}

.e{
    width:1200px;height:2113px;margin:auto;
    border:1px solid #000;
}

.footer{
    width:1900px;height:186px;margin:auto;
    border:1px solid #000;
}