@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5em;
  font-family: "나눔고딕", "century gothic", sans-serif;
  background-color: #f0f0f0;
  color: #000;
  max-width: 960px;
  padding-top: 240px;
}

.page-header {
  width: 100%;
  min-width: 960px;
  height: 70px;
  background-color: #fff;
  line-height: 70px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
}

/* 스크롤 내리면 맨 위에 고정되기 */

.page-header.sticky {
  position: fixed;
  top: 0;
}

.inner {
  width: 960px;
  margin: auto;
}
.logo {
  float: left;
}
.gnb {
  float: right;
}
.gnb > ul > li {
  float: left;
}
.gnb > ul > li > a {
  display: block;
  padding: 0 1.4em;
}
.gnb > ul > li > a:hover {
  color: red;
}

.contents {
  max-width: 600px;
  padding: 6em 0;
  margin: auto;
  text-align: justify;
}
.contents > p {
  margin-bottom: 50px;
}
