@charset "utf-8";

*{margin:0;padding:0;}

a{text-decoration: none;}
ul,li{list-style:none;}


.header{
    width:1900px;height:150px; 
    color:black;
    border:1px solid #000;
}
.header #bar{
    width:1200px;height:150px;margin:auto;
    background-color: #fff;
}
.header #right{
    float:right;
    font:bold 12px/24px arial;
    padding:18px;
    color:#000;
 
}
.header #category{
    font:bold 16px/55px arial;
    text-align: center;
    float:left;
}
.header #category a{
    position: relative;
    color:black;
    top:10px;
    padding:63px;
    text-align: center;
}
.header #category a:hover{
    color:chartreuse;
}
.header #category a:nth-child(4){
    background:url(../img/메인페이지/header.jpg) no-repeat -0px 40px;
    padding:80px;
    background-size: 160px;
}
/* 끝 */
.Mainvisual{
    width:1900px;height:600px; 
    border:1px solid #000;
    background:url(../img/메인페이지/나뚜루-메인페이지_02.jpg)
}
.Mainvisual button{
    width:167px;height:55px;
    position: relative;
    top:55%;
    left:47%;
    background-color:#fff;
    border-radius: 25%;
}
.Mainvisual button a{
    color:#000;
    font:bold 14px/20px arial;
}
.Mainvisual button a:hover{
    color:red;
}

/* 간편주문 */
.claa{
    width:1120px;height:332px;margin:auto;}
.claa h1{
    text-align: center;
    font:bold 20px/24px arial;
    padding-top:24px;
}
/* 왼쪽 lefrt */
.claa #phone{
    width:430px;height:240px; 
    border:1px solid #000;
    position: relative;
    top:40px;
    border-radius: 15%;
    float:left;
}
.claa #phone a{
    display:inline;
    position: relative;
    top:70px;
    padding:60px;
}
.claa #phone a:nth-child(1){
    background:url(../img/메인페이지/배민.jpg) no-repeat;
    position: relative;
    left:30px;
    top:90px;
}
.claa #phone a:nth-child(2){
    position: relative;
    left:30%;
    top:100px;
    background:url(../img/메인페이지/요기요.jpg) no-repeat;
    position: relative;
    background-size:100%;
    

}
.claa #phone p{
    font:bold 17px/25px  arial;
    position: relative;
    top:30%;
    padding:55px;
    float:left;
}
/* 오른쪽 right */
.p{
    width:637px;height:226px;margin:auto;
    float:right;
    border:1px solid #000;
    position: relative;
    top:14%;
    border-radius: 5%;
}
#maket{
    height:160px;
    float:left;
    padding:5%;
    display:block;
    border-right:1px solid #000;
}
#maket a{
    width:100%;
    padding:50px;
    position: relative;
    top:40px;
    font:18px/24px arial;
    background: url(../img/메인페이지/전회.jpg) no-repeat;
}
#maket p{
    padding:80% 10px;
    font:bold 16px/24px arial;
}

/* place지역명 */
#place{
    display:inline;
    float:left;
    padding:15px;
    border-right:1px solid #000;
    height:199px;
}
#place h1{
    text-align: left;
    position: relative;
    bottom:25px;
    left:7px;
    font:bold 16px/21px arial;
}
#place #box1{
    width:100px;height:20px;
    display:inline;
}
#place #submit{
    float:right;
    position: relative;
    background-color:#fff;
    border-radius: 25%;
    padding:5px;
    top:40px;
    right:10px;
}
/* right */
#more h1{
    font:bold 16px/24px arial;
    padding:15px;
    text-align: center;
    position: relative;
    right: 5%;
}

#more table{
    width:204px;height:162px;
    position: relative;
    left:2%;
    padding:-5px;
    font:12px/14px arial;
    border:1px solid #000;
}
#more table tr td{
    border-top:1px solid #000;
    border-left:2px solid #000;
    border-bottom:1px solid #000;
    padding:1px;
}
/* menu */
.menu{
    width:1200px;height:489px;margin:auto; 
    border:1px solid #000;
}
.menu h1{
    text-align:center;
}
#menulist{
    width:222px;height:172px;
    border:1px solid #000;
    border-radius: 55%;
    padding:25px;
}
#menulist a{
  
}
 

 