@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  border: 0;
  vertical-align: top;
}
ul {
  list-style: none;
}

body {
  background-color: #222;
}

.banner_slider {
  width: 600px;
  height: 450px;
  margin: 50px auto;
  background-color: #fff;
  border: 10px solid #fff;
}
.banner_img {
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative; /* imgBox의 기준  */
}
.banner_img .imgBox {
  position: absolute;
  width: 2400px;
}
.banner_img .imgBox img {
  float: left;
}

.banner_btn {
  width: 100%;
  height: 30px;
  margin-top: 15px;
  position: relative;
}

.banner_btn ul {
  position: absolute;
  right: 0;
}
.banner_btn ul li {
  float: left;
  margin-right: 7px;
}
.banner_btn ul li a {
  display: block;
  width: 27px;
  height: 27px;
  font: bold 9pt/27px arial;
  text-align: center;
  background: url(../images/banner_dot.png) no-repeat;
}
.banner_btn ul li a.select {
  background-position: 0 -27px;
  color: #fff;
}
