@charset "utf-8";

body,
div,
ul,
h1,
h2,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

body {
  background-color: #000;
}

#wrap {
  width: 100%;
  height: 100%;
}
#wrap ul {
  overflow: hidden;
}
#wrap ul li {
  float: left;
}

.item {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* 배경이미지 */
.item #item1 {
  background: url("../images/p1.jpg") no-repeat;
  background-size: cover;
}
.itme #item2 {
  background: url(../images/p2.jpg) no-repeat;
  background-size: cover;
}
.item #item3 {
  background: url(../images/p3.jpg) no-repeat;
  background-size: cover;
}
.itme #item4 {
  background: url(../images/p4.jpg) no-repeat;
  background-size: cover;
}

.bgImg {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opcity 3s;
}

.on .bgImg {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opcity 5s;
}

.title {
  position: absolute;
  top: 80%;
  text-align: center;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 1s, top 2s;
}
.on .title {
  position: absolute;
  top: 70%;
  text-align: center;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 2s, top 2s;
  transition-delay: 2.5s;
}
.title h1 {
  font: bold 3em "나눔고딕", verdana;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.1em #000;
}

.title h2 {
  font: bold 3em "나눔고딕", verdana;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.1em #000;
}
