@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");

/* 
  font-family: 'Philosopher', sans-serif;
*/

/* reset */
body,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #222;
}
img {
  border: none;
  vertical-align: top;
}

body {
  background-color: #ffc;
}

.banner {
  display: block;
  width: 800px;
  height: 590px;
  margin: 50px auto;
  background: url(../images/bg.png) no-repeat;
  position: relative;
  border: 4px solid #000;
}
.sun {
  position: absolute;
  left: 110px;
  top: -80px;
  opacity: 0;
}
.flower {
  position: absolute;
  left: 300px;
  top: 80px;
  opacity: 0;
}
.house {
  position: absolute;
  left: 90px;
  top: 200px;
  opacity: 0;
}

/* 
  마우스 올렸을 때 위치
  .sun {
  position: absolute;
  left: 110px;
  top: 50px;
}
.flower {
  position: absolute;
  left: 560px;
  top: 80px;
}
.house {
  position: absolute;
  left: 90px;
  top: 260px;
}

*/

.title {
  position: absolute;
  left: 270px;
  top: 230px;
  transition: all 0.4s ease-out;
}
.text {
  position: absolute;
  top: 320px;
  left: 350px;
  font: 18px "Noto Sans KR", sans-serif;
  color: #600;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.banner:hover .text {
  opacity: 1;
}
