@charset "utf-8";
 
/* reset */
*{
    margin:0;padding:0;
}

ul{list-style:none;;}

li,a{text-decoration:none;}
 

/* header 부분 */
#header {
    width:1200px;height:36px;margin:auto;
    font:bold 16px/20px arial;
}
#header :hover{
    color:#c0c0c0;
}
#header > a {
    padding:12px;
    color:#000000;
}
#header > #login {
    display:inline;
    float:right;
    padding-right:12px;
}
#header > #login a{
    
    color:#000;
}
#header > #login :hover{
    color: #c0c0c0; 
}
 
/* logo 부분 */
#logo {
    padding-top:12px;
    padding-bottom:42px;
    text-align:center;
}
#logo {
    font:18px/50px arial;
    font-family: 'Nanum Gothic', sans-serif;
}
#logo a{
    color:#000;
}



/* 카테고리부분 */

.border{
    width:1900px;height:60px;margin:auto;
    border:1px solid #000;
}

.border > #Category1{
    width:1200px;height:60px;margin:auto;
    text-align:center;
    padding:18px;
    font:bold 18px/24px arial;
}
.border > #Category1 > a {
    padding:65px;
    color:#000;
}
.border > #Category1 > a:hover{
   color:#c0c0c0;
}
.border > #Category1 > a:hover > p{
    overflow:hidden;
}


 
/* 메인비쥬얼 */

#Mainvisual{
    width:1900px;height:600px;margin:auto;
    background:url("../images/images/Untitled-1.gif") no-repeat;
    background-size:100%;
    }
  
/* Hot keword  */
.Notice{
    width:1200px;height:200px;margin:auto;
    padding:30px;

   
}
.Notice h1{
    display:inline;
    position: relative;
    bottom:15px;
}
.Notice table {
    width:240px;height:150px; 
    border:1px solid #000;
    padding:4px;
}

.Notice table th:nth-child(1){
    width:517px;height:106px;margin:auto;
    border:1px solid #000;
    padding:4px;
    display:inline;
} 
.Notice p{
    font:16px/18px arial;
    display:inline;
}
.Notice a{
    display:inline-block;
    position: relative;;
    left:75px; 
    top:-25px;
}

/* HOT KEWORD */
#KEWORD{
   width:1000px;height:150px;margin:auto;   
}
#KEWORD > h1 {
    display:block;
    position: relative;
    font:bold 18px/16px arial;
    left:600px;
    top:-210px;
}
#KEWORD > p{
    display:inline;
    padding:80px;
    position: relative;
    top:-100px;
    left:220px;
}
/* 마우스 효과 */
#KEWORD > a:hover{
    background-color: powderblue;
}

#KEWORD > a:nth-child(2){
    background:url("../images/images/hot1.jpg") no-repeat;
    background-size:150px;
    padding:90px;
    position:relative;
    left:20%;
    top:-90%;
}
#KEWORD > a:nth-child(3){
    background:url("../images/images/hot2.jpg") no-repeat;
    background-size:150px;
    padding:90px;
    position:relative;
    left:20%;
    top:-90%;
    color:blue;
}
#KEWORD > a:nth-child(4){
    background:url("../images/images/hot3.jpg") no-repeat;
    background-size:150px;
    padding:90px;
    position:relative;
    left:20%;
    top:-90%;
    color:blue;
} 
#KEWORD > a:nth-child(5){
    background:url("../images/images/hot4.jpg") no-repeat;
    background-size:150px;
    padding:90px;
    position:relative;
    left:20%;
    top:-90%;
    color:blue;
}
#KEWORD > a:nth-child(6){
    background:url("../images/images/hot5.jpg") no-repeat;
    background-size:150px;
    color:blue;
    padding:90px;
    position:relative;
    left:20%;
    top:-90%;
}

/* Best 상품 */
#Best{
    width:1900px;height:900px;margin:auto;
    padding-top:50px;
}
#Best > #bestlist {
    width:1900px;height:334px;  
    text-align:center;
}
#bestlist > h1{
    padding-bottom:25px;
}
#bestlist > #a > a{
    padding:25px;
    font:bold 16px/18px arial;
    color:#000;
}
#bestlist > #a > a:hover{
    color:#8d8d8d;
}
#bestlist > #a > a:nth-child(1){
    color:rgb(185, 185, 185);
} 
.bestitem > a >.img{
    padding:45px;
}
.bestitem > a > .img:hover {
    opacity: 45%;
}

/* 컬러 */
.foo{
    float:left;
    width:42px;
    height:22px;
    margin:5px;
    border:1px solid #000;
}
.black{
    background-color:#000000;
    position: relative;
    left:20%;
    top:-55%;
}
.silver{
    background-color:#eeeeee;
    position: relative;
    left:20%;
    top:-55%
}
.pink{
    background-color:pink;
    position: relative;
    left:20%;
    top:-55%;
}
/* 컬러2 */
.silver2{
    background-color:silver;
    position:relative;
    left:27.5%;
    top:-55%;
}
.white{
    background-color:white;
    border:1px solid #000;
    position: relative;
    left:27.5%;
    top:-55%;
}
.white2{
    background-color:white;
    position:relative;
    left:38%;
    top:-55%;
}
.silver3{
    background-color:rgb(136, 166, 180);
    position:relative;
    left:38%;
    top:-55%;
}
.p{
    background-color:#cfccd5;
    position:relative;
    left:38%;
    top:-55%;
}
.a {
    background-color:#b5c7df;
    position:relative;
    left:46%;
    top:-55%;
}

.b{
    background-color:#a7a9b6;
    position:relative;
    left:46%;
    top:-55%;
}

.c{
    background-color:#af888b;
    position:relative;
    left:46%;
    top:-55%;
}


/* 하단 상품 카테고리*/
.Category{
    width:1900px;
    position: relative;
    right:300px;
} 
.Category h1{
    padding:20px;   
    text-align:center;
   
}
#CATEGORY #h1{
    width:1200px;height:600px;
    margin:auto; 
    padding-bottom:100px;
}
#h1 > a:nth-child(1){
    width:400px;height:200px;
    font:bold 40px/160px arial;
    float:left;
    background:url(../images/img/CDSQC01_m0_01.gif) no-repeat;
    background-size: 600px;
     
}
#h1 > a:nth-child(2){
    font:bold 40px/160px arial;
    width:455px;height:200px;
    float:left;
    background:url(../images/img/CDSQC01_m0_03.gif) no-repeat;
    background-position: center;
}
#h1 > a:nth-child(3){
    font:bold 40px/500px arial;
    width:344px;height:499px;
    float:right;
    background:url(../images/img/CDSQC01_m0_04.gif) no-repeat;
    background-size:350px;
}
#h1 > a:nth-child(4){
    font:bold 40px/290px arial;
    width:401px;height:300px;
    float:left;
    background:url(../images/img/CDSQC01_m0_07.gif) no-repeat;
    background-size:400px;
}
#h1 > a:nth-child(5){
    font:bold 40px/290px arial;
    width:455px;height:300px;
    float:left;
    background:url(../images/img/CDSQC01_m0_06_03.jpg) no-repeat;
    background-size:460px;
}

/* 마우스 갖다댈때 */
#h1 > a:nth-child(1)>p{
    opacity: 0;
    color:white;
}

#h1 > a:nth-child(1)>p:hover{
    height:100%;
    opacity:100%;
    color:white;opacity:100%;
    background-color: black;opacity: 75%;
}
#h1 > a:nth-child(2)>p{
    opacity: 0;
    color:white;
}

#h1 > a:nth-child(2)>p:hover{
    height:100%;
    opacity:100%;
    color:white;opacity:100%;
    background-color: black;opacity: 75%;
}
#h1 > a:nth-child(3)>p{
    opacity: 0;
    color:white;
}

#h1 > a:nth-child(3)>p:hover{
    height:100%;
    opacity:100%;
    color:white;opacity:100%;
    background-color: black;opacity: 75%;
}
#h1 > a:nth-child(4)>p{
    opacity: 0;
    color:white;
}

#h1 > a:nth-child(4)>p:hover{
    height:100%;
    opacity:100%;
    color:white;opacity:100%;
    background-color: black;opacity: 75%;
}
#h1 > a:nth-child(5)>p{
    opacity:0%;
    overflow: hidden;
    color:white;
}

#h1 > a:nth-child(5)>p:hover{
    height:100%;
    opacity:100%;
    color:white;opacity:100%;
    background-color: black;opacity: 75%;
}
/* pay  */ 
#p{
  width:1300px;margin:auto;
  padding:inherit;
  font:bold 13px/24px arial;
  color:#c0c0c0;
}
#p > p {
  float:left;
  padding:30px;
  position: relative;
  left:65px;
  bottom:50px;
}
#p > p:nth-child(2){
  position: relative;
  left:85px;
}
#p > p:nth-child(3){
  position: relative;
  left:95px;
  }
#p > p:nth-child(4){
  position: relative;
  left:90px;
}
#pay{
   width:75%;margin: auto;
 
   padding:105px;
}
#pay > p{
    font:bold 13px/18px arial;
    text-align:center;
    display: inline;
    padding:125px;
    position: relative;
    bottom:90px;
    right:70px;
}


/* footerbar */
.footerbar{
    width:1900px;height:260px;margin:auto;
    background-color:#c0c0c0;
}
.footerbar > #footer{
    width:600px;height:250px;margin:auto;
    float:left;
    font:bold 12px/28px arial;
    position: relative;
    top:10px;left:300px;
}
/* footer2  */
.footerbar > .footer2 > h1{padding-bottom:18px;font:20px/16px arial;}

.footerbar > .footer2 {
    float:left;
    font:bold 14px/38px arial;
    position: relative;
    top:10px;left:400px;
}
.footerbar > .footer2> a{color:#000;}
.footerbar > .footer2> a:hover{color:gray;}
/* footer2 end  */


/* footer3  */
.footerbar > .footer3{
    float:left;
    position: relative;
    font:bold 14px/38px arial;
    top:44px;left:420px; 
}
.footerbar > .footer3> a{color:#000;}
.footerbar > .footer3> a:hover{color:gray;}
/* footer 3 end  */

/* footer4 */

.footerbar > .footer4{
    float:left;
    position: relative;
    font:bold 14px/40px arial;
    top:10px;left:500px;
}

.footerbar > .footer4 > a{
    color:white;
    background-color:#000;
    border:30px solid #000;
    position: fixed;
    top:800px;right:90px;
}
 