@charset "utf-8";

/* reset */
*{
margin:0;padding:0; 
}

ul{list-style:none;}
li,a{text-decoration:none;}
   
body{
    width:auto;height:9422px;
    overflow-x: hidden;
}

/* header 부분 */
#header {
    width:1200px;height:36px;margin:auto;
    font:bold 16px/20px arial;

}
#header :hover{
    color:#c0c0c0;
}
#header > a {
    padding:12px;
    color:#000000;
}
#header > #login {
    display:inline;
    float:right;
    padding-right:12px;
}
#header > #login a{
    
    color:#000;
}
#header > #login :hover{
    color: #c0c0c0; 
}
 
/* logo 부분 */
#logo {
    padding-top:12px;
    padding-bottom:42px;
    text-align:center;
}
#logo {
    font:18px/50px arial;
    font-family: 'Nanum Gothic', sans-serif;
}
#logo a{
    color:#000;
}

/* 카테고리 */


/* 카테고리부분 */

.border{
    width:1900px;height:60px;margin:auto;
    border:1px solid #000;
}

.border > #Category1{
    width:1200px;height:60px;margin:auto;
    text-align:center;
    padding:18px;
    font:bold 18px/24px arial;
}
.border > #Category1 > a {
    padding:65px;
    color:#000;
}
.border > #Category1 > a:hover{
   color:#c0c0c0;
}
.border > #Category1 > a:hover > p{
    overflow:hidden;
}

/* 상품 이미지 설정 */
.Mainvisual{
    width:1200px;height:675px;margin:auto;
 
}
.Mainvisual #left{
    width:409px;height:612px;
    float:left;
    padding:24px;
}
.Mainvisual p:nth-child(1){
    width:342px;height:455px;margin:auto;
    background:url(../images/img/sub/sub_images/센트클로--상품_18.jpg) no-repeat;
    background-size: 105%;
}
/* left1 */ 
#left1{
    width:60px;height:100px;
    border-right:1px solid #000;
    position: relative;
    left:40px;
    bottom:16%;
    font-size: 8px;
}
#left1 h1{
    text-align: center;
    font:bold 12px/45px arial;
}
#left1 p{
    text-align: center;
    font:bold 14px/12px arial;
}
/* left2 */
#left2{
    width:341px;height:98px;margin:auto;
    border:1px solid #000;
}
#left2 h1{
    text-align: center;
    font:12px/24px arial;
 
}
#left2 a{
    position: relative;
    top:22%;
    left:25%;
    border:1px solid #000; 
    padding: 20px;
}
#left2 a:nth-child(2){
    background: url(../images/review/리뷰1\ \(1\).jpg);
}
#left2 a:nth-child(3){
    background: url(../images/review/리뷰1\ \(2\).jpg);
    position: relative;right: 10px;
    position: relative;
    left:30%;
}
#left2 a:nth-child(4){
    background: url(../images/review/리뷰1\ \(3\).jpg);
    position: relative;
    left:35%;
}
#left2 a:nth-child(5){
    background: url(../images/review/리뷰1\ \(4\).jpg);
    position: relative;
    left:40%;
}
/* right */
.right{
    width:522px;height:570px;margin:auto;
    position: relative;
    top:3.5%;
    left:5%;
}
#title h1{
    position: relative;
    right:12%;
    top:2px;
    padding:18px;
    color:#c0c0c0;
    font:bold 16px/24px arial;
} 
#title p{
    display:inline;
    position: relative;
    right:60px;
    bottom:12px;
    font:12px/14px arial;
    color:#fff;
}
#title p:nth-child(2){
    padding:2px;
    background-color: #ffaae1;
}#title p:nth-child(3){
    padding:2px;
    background-color: #804000;
}
/* 할인전  */
#pay{
    width:352px;height:246px;margin:auto;
    position: relative;
   right: 10%;
   padding:50px;
   display: inline;
   
}
#pay table{
   position: relative;
   right:35px;
   bottom:12px;
}
#pay table tr td{
    padding:8px;
}
.checkbox{
    width:70px;height:30px;
    position: relative;
    background-color: #fff;
    font:bold 12px/14px arial;
    bottom:8%;
    left:-20%;
}
#size{
    width:56px;height:25px;
    position: relative;
    bottom:15%;
    left:15%;
    font:bold 6px/10px arial;
    background-color: #fff;
}
#size:hover{
    color:red;
}
#size:hover:after > {
    color:blue;
}
#color{
    width:40px;height:20px;margin:auto;
    position: relative;
    bottom:26%;
    left:11%;
}
#color:active{
    background-color: aquamarine;
    border:3px solid #000;
}
#color{
    background-color: aquamarine;
    position: relative;
    left:-35%;
    top:-21%;
}

.buybutton{
    width:400px;
    border-top:1px solid #000;margin:auto;
    position: relative;
    left:50px;
    bottom:30px;
}

.buybutton #buybutton{
    width:77px;height:35px;
    position: relative;
    right:10%;
    top:8px;
    background-color:#c0c0c0;
    border:1px solid #000;
    color:#fff;
}
.buybutton #AddCart{
    width:77px;height:35px;
    position: relative;
    right:12%;
    top:8px;
    background-color:#fff;
    border:1px solid #000; 
}
.total{
    float:right;
    position: relative;
    top:15px;
    right:12px;
}
.total h1{
    float:left;
    font:bold 14px/24px arial;
}
.total p{
    font:bold 15px/24px arial;
    float:right;
}

 
/* 상품설명 1 */
.menu{
    width:1200px;margin:auto;
    position: relative;
    top:24px;
    border:1px solid #000;
}
.menu ul li{
    margin:auto;
    float: left;
}
.menu ul li:nth-child(1){
    width:300px;height:65px;
    position: relative;
    right:458px;
    border:1px solid #000;
    background-color: #c0c0c0;
}
.menu ul li:nth-child(1):hover{
    color:blue;
}
.menu ul li:nth-child(2){
    width:300px;height:65px;
    position: relative;
    right:458px;
    border:1px solid #000;
}.menu ul li:nth-child(3){
    width:300px;height:65px;
    position: relative;
    left:145px;
    bottom:67px;
    border:1px solid #000
}.menu ul li:nth-child(4){
    width:295px;height:65px;
    position: relative;
    bottom:67px;
    left:144px;
    border:1px solid #000
}
.menu ul li{
    text-align:center;
}
.menu ul li a{
    position: relative;
    top:25%;
    color:#000;
}
 s
/* 상품 이미지1 */
.image88{
    width:1200px;height:1950px;margin:auto;
    position: relative;
    border:3px solid #000;
}
#one h1{
    text-align: center;
    font:bold 18px/14px arial;
    padding:50px;
}
#one p{
    text-align: center;
    font:bold 16px/24px arial;
    padding:4px;
    position: relative;
    bottom:30px;
}
#two h1{
    text-align: center;
    font:bold 18px/16px arial;
    padding:20px;
}
#two p{
    text-align: center;
    font:bold 16px/24px arial;
    padding:4px;
    position: relative;
    bottom:15px;
}
#three{
  padding:15px;
}
#three h1{
    text-align: center;
    font:bold 18px/24px arial;
    padding:4px;
}
#three p{
    text-align:center;
    font:bold 16px/24px arial;
    padding:4px;
    position: relative;
    bottom:2px;
}
#three table{
    padding-top:20px;margin:auto;
    text-align: center;
    position: relative;
    top:55%;
    padding:85px;
}
#three table tr th:nth-of-type(1){
    color:#fff;
    background-color:#c0c0c0;
}
#three table tr th:nth-of-type(2){
    color:#c0c0c0;
}
#three table tr th{
    border:1px solid #000;
    padding:40px;
}


/* 상품 이미지2 */
.image1{
    width:1200px;height:3860px;margin:auto;
}
.image1 p{
    padding:40%;
    text-align: center;
}
.image1 p:nth-child(1){
    background:url(../images/sub/images/상품사진1.jpg) no-repeat;
    position: relative;
    left:25%;
}
.image1 p:nth-child(2){
    background:url(../images/sub/images/상품사진2.jpg) no-repeat;
    position: relative;
    left:25%;
}
.image1 p:nth-child(3){
    background:url(../images/sub/images/상품사진3.jpg) no-repeat;
    position: relative;
    left:25%;
}
.image1 p:nth-child(4){
    background:url(../images/sub/images/상품사진4.jpg) no-repeat;
    position: relative;
    top:2%;
    left:25%;
}
/* 상품이미지 2 */
.e{
    width:1200px;height:2113px;margin:auto;
}
#image2 h1{
   text-align: center;
   padding:12px;
   font:bold 18px/30px arial;
}
#image2 table{
    border:1px solid #000;
    width:640px;height:255px;
    margin:auto;
}
#image2 table th{
    border:1px solid #000;
    background-color:#c0c0c0;
}
#image2 table td{
    padding:12px;
    border-bottom:1px solid #000;
}
/* image3 */
#image3 h1{
    width:640px;
    text-align: left;
    position: relative;
    left:22%;
    border-bottom:1px solid #000;
}
#image3 p{
    font:bold 14px/16px arial;
    position: relative;
    left:21%;
    padding:23px;
}
#image3 p:nth-child(3){
width:640px;
border-bottom: 1px solid #000;
}
#image3 #rewviewButton{
    float:right;
    position: relative;
    right:23%;
    bottom:100px;
    width:140px;height:70px;margin:auto;
    color:white;
    background-color:gray;
}

/* review */
.review{
    width:664px;height:400px;margin:auto;
    padding:12px;
}
.review h1{
    padding:10px;
    float:left;
    font:bold 16px/25px arial;
}
.review #star{
    position: relative;
    top:16px;
}
.review p{
    position: relative;
    bottom:5px;
    left:19%;
}

/* size */
.clo h2{
    font:bold 14px/20px arial;
    position: relative;
    top:12px;
    right:12%;
    padding:10px;
}
.clo h2:nth-child(2){
    position: relative;
    top:-28px;
    right:-45%;
}
.clo #sizes p{
    display: inline;
    position: relative;
    bottom:20px;
    left:14px;
    font:bold 15px/45px arial;
}
 
.clo #sizes p:nth-child(2){
    width:200px;height:19px;
    border:1px solid #000;
}
.clo #sizes #small{
    width:25%;
    background-color:#c0c0c0;
    position: relative;
    bottom:15px;
    left:14px;
}
.clo #sizes #small:nth-child(6){
   background-color: #000;
}
/* color */
.colro p{
    display: inline;
    padding:15px;
    font:bold 14px/45px arial;
    position: relative;
    left:45%;
    bottom:150px;
}

.colro #small{
    width:25%;
    background-color:#c0c0c0;
    position: relative;
    bottom:149px;
    left:300px;
}
.colro #small:nth-child(6){
    background-color: #000;
}
/* q&a */
.QA{
  width:650px;height:160px;margin:auto;
  position: relative;
  top:-150px;
  right:15px;
  padding:20px;
 
}
.QA #top{
    width:640px;height:41px;margin:auto;
    border-bottom: 1px solid #000;
}
.QA #top h1{
  position: relative;
  bottom:10px;
  right:10px;
} 
.QA #top p{
    font:bold 13px/18px arial;
    position: relative;
    padding:10px;
    top:5px;
    left:15px;
}
 
/* recomantion */
.Recomantion{
    width:800px;height:420px;margin:auto;
    position: relative;
    top:5%;
}
.Recomantion h1:nth-child(1){
    font:bold 20px/24px arial;
    text-align: center;
    position: relative;
    top:5%;
    right:17%;
}
.Recomantion p{
    font:bold 16px/24px arial;
    position: relative;
    top:10%;
    left:4%;
}

#img p{
    width:139px;height:250px;margin:auto;
    position: relative;
    padding:5px;
    border:1px solid #000;
    top:80px;
    float:left;
}
#img p:nth-child(1){
    position: relative;
    background:url(../images/img/sub/sub_images/센트클로--상품_21.jpg) no-repeat;
    left:-20%;
    background-size:100% 100%;
}
#img p:nth-child(2){
    position: relative;
    left:-15%;
    background:url(../images/img/sub/sub_images/센트클로--상품_23.jpg) no-repeat;
    background-size:100% 100%;
}
#img p:nth-child(3){
    position: relative;
    left:-10%;
    background:url(../images/img/sub/sub_images/센트클로--상품_26.jpg) no-repeat;
    background-size: 100% 100%;
}
#img p:nth-child(4){
    position: relative;
    left:-5%;
    background:url(../images/img/sub/sub_images/센트클로--상품_29.jpg) no-repeat;
    background-size: 100% 100%;
}
#img p a{
    padding:122px 75px;
    position: relative;
    top:46%;   
    right:5px; 
}
#img p a:hover{
    background-color: #000;
    opacity: 50%;
}




/* tutorial  */
.tutorial{width:800px;height:480px;margin:auto; 
position: relative; top:10%;}
.tutorial h1{font:bold 16px/14px arial;padding:20px;}
.tutorial #pay{position: relative;left:2px;}
.tutorial #pay h1{float:left;}
.tutorial #pay p{
    padding:20px;
    font:bold 14px/14px arial;
    position: relative;
    top:-20px;
    text-align:left;
}
.tutorial #pay p:nth-child(2){border-top:1px solid #000;}
.tutorial #pay p:nth-child(4){border-top:1px solid #000;}
.tutorial #pay p:nth-child(4){
    border-bottom:1px solid #000;
    position: relative;
    top:1px;
}
.tutorial #pay p:nth-child(4) span{
   color:red;
   font:bold 18px/14px arial; 
}
.tutorial #pay h1:nth-child(5){
  width:104px;height:302px;
  position: relative;
  top:100px;
  font:bold 14px/18px;
}
 
.tutorial #pay h2{
    float:left;
    font:bold 18px/20px arial;
    position: relative;
    bottom:12%;
    color:red;
    padding:80px;
}
.tutorial #pays #img1{
    position: relative;
    top:30px;
    right:65%;
}
.tutorial #pays #img2{
    position: relative;
    bottom:68px;
    right:50%;
}
.tutorial #pays h1{
    position: relative;
    top:30px;
    right:65%;
}
.tutorial #pays h1:nth-child(4){
    position: relative;
    top:-67px;
    left:21%;
}
.tutorial #pays p{
    font:bold 11px/24px arial;
    position: relative;
    top:-60px;
    right:2%;
}
 
.tutorial #maket{
    position: relative;
    bottom:48%;
    left:45%;
}

.tutorial #maket img{
    position: relative;
    bottom:20px;
    right: 30%;
    padding:20px;
}
.tutorial #maket p{
    position: relative; 
    top:12px;
    left:14%;
    padding:1px;
    font:bold 11px/24px arial;
}
.tutorial #maket h1{
    float: left;
    position: relative;
    top:40px;
    left:-12px;
}

/* cancle */
.cancle{
    width:800px;height:1800px;margin:auto;
    padding:12px;
}
#can h1{
    width:100%;
    position: relative;
    right:8px;
    padding:12px;
    font:bold 18px/20px arial;
    border-bottom:1px solid #000;
}
#canlereturn{
   width:100%;
   position: relative;
   right:10px;
   font:bold 10px/24px arial;
   border-bottom:1px solid #000;
   padding:12px;
}
#canlereturn h2{
    float:left;
    padding:12px;
}
#canlereturn p{
    font:bold 14px/18px arial;
    padding:14px;
}
/* waring */
#waring{
    width:100%;height:10%;
    padding:12px;
    position: relative;
    right:12px;
    border-bottom: 1px solid #000;
}
#waring h2{
    float:left;
    position: relative;
    top:10%;
    font:bold 18px/34px arial;
    padding:12px;
}
/* right */
#right h2{
    font:bold 14px/16px arial;
    position: relative;
    bottom:180px;
    right:270px;
    float: right;
}
#right p{
    position: relative;
    font:bold 12px/16px arial;
    padding:5px;
    bottom:160px;
    left:20%;
}
/* cancle2 */
#X{
    width:103%;
    position: relative;
    right:11px;
    border-bottom: 1px solid #000;
}
#X h1{
    float:left;
    position: relative;
    bottom:140px;
    right: 18px;
    font:bold 20px/20px arial;
    padding:40px;   
}
#X p{
    float: right;
    position: relative;
    bottom:110px;
    right:150px;
    padding:2px;
    font:bold 13px/24px arial;
}
#X .can{
    width:118px;height:46px;
    background-color: #c0c0c0;
    float:right;
    position: relative;
    left:60%;
    top:-120px;
    padding:12px;
}
/* rep */
#A{
    width:103%;
    position: relative;
    right:11px;
    border-bottom:1px solid #000;
}
#A h1{
    width:120px;height:76px;
    font:bold 16px/20px arial;
    padding:50px;
    position: relative;
    top:-25px;
    right:25px;

}
#r p{
    position: relative;
    bottom:150px;
    left:20%;
    padding:3px;   
    font:bold 12px/14px arial;
}

#r #small{
    width:115px;height:45px;
    position: relative;
    left:85%;
    background-color: #c0c0c0;
    bottom:250px;
}
#tutorial{
    width:103%;height:100px;
    position: relative;
    right:11px;
    border-bottom:1px solid #000;
}
#tutorial h1{
    float:left;
    position: relative;
    font:bold 18px/20px arial;
    left:30px;
    bottom:50px;
}
#tutorial p{
    position: relative;
    font:bold 14px/15px arial;
    bottom:130px;
    left:80px;
}
#tutorial p span{
    color:red;
}

#tutorial #img1{
    position: relative;
    top:-100px;
    left:100px;
}
#tutorial p:nth-child(4){
    position: relative;
    top:-60px;
    left:180px;
}

#tutorial #img2{
    position: relative;
    top:-190px;
    left:380px;
}
#tutorial p:nth-child(6){
    position: relative;
    top:-150px;
    left:370px;
}

#tutorial #img3{
    position: relative;
    top:-280px;
    left:580px;
}

#tutorial p:nth-child(8){
   position: relative;
   top:-260px;
   left:580px;
}

/* tutorial2 */
#tutorial2{
    width:103%;height:200px;
    position: relative;
    right:11px;
    border-bottom:1px solid #000;
}
#tutorial2 h1{
    float:left;
    position: relative;
    top:40%;
    left:4%;
    font:bold 18px/20px arial;
}
#tutorial2 p{
    text-align:center;
    position: relative;
    top:4%;
    right:3%;
    font:bold 14px/16px arial;
    padding:12px;
}
#tutorial2 p:nth-child(2) span{
    color:red;
}
#tutorial2 p:nth-child(3){
    float:left;
    position: relative;
    left:20%;
    top:50%;
}
#tutorial2 p:nth-child(4){
    float:left;
    position: relative;
    left:26%;
    top:50%;
}
#tutorial2 p:nth-child(5){
    float:left;
    position: relative;
    left:39%;
    top:50%;    
}
#tutorial2 #img4{
    position: relative;
    right:23%;
    top:12px;
}
#tutorial2 #img5{
    position: relative;
    right:10%;
    top:12px;
    right:70px;
}
#tutorial2 #img6{
    position: relative;
    right:-7%;
    top:10%;
}

#payback h1{
    padding:25px;
    position: relative;
    top:170px;
    float:left;
    font:bold 18px/20px arial;
}
#payback p{
    padding:5px;
    position: relative;
    left:30px;
    top:25px;
    font:bold 16px/20px arial;
}
#payback p:nth-child(3) span{
    color:red;
}
#payback #img7{
    position: relative;
    top:50px;
    left:20%;
}
#payback h2:nth-child(6){
    font:16px/18px arial;
    text-align: center;
    position: relative;
    right:12%;
    top:-20px;
}
#payback p:nth-child(7){
    font:bold 14px/16px arial;
    text-align: center;
    position: relative;
    left:90px;
    top:-10px;
}
#payback #img8{
    position: relative;
    top:40px;
    left:20%;
}
#payback h2:nth-child(9){
    font:16px/18px arial;
    text-align: center;
    position: relative;
    right:14%;
    top:-20px;
}
#payback p:nth-child(10){
    font:bold 14px/16px arial;
    text-align: center;
    position: relative;
    left:90px;
    top:-10px;
}
#payback h2:nth-child(11){
    font:16px/18px arial;
    text-align: center;
    position: relative;
    right:14%;
    top:40px;
}
#payback p:nth-child(12){
    font:bold 14px/16px arial;
    text-align: center;
    position: relative;
    left:20px;
    top:50px;
}
#payback p:nth-child(13){
    font:bold 14px/16px arial;
    text-align: center;
    position: relative;
    left:65px;
    top:60px;
}
#payback #img9{
    position: relative;
    left:170px;
    bottom:12px;
}
#payback h2:nth-child(15){
    font:14px/16px arial;
    text-align: center;
    position: relative;
    right:100px;
    top:30px;
}
#payback p:nth-child(16){
    font:bold 14px/16px arial;
    text-align: center;
    position: relative;
    left:40px;
    top:50px;
}
#payback #img10{
    position: relative;
    left:20%;
}




/* footerbar */
.footerbar{
    width:1900px;height:260px;margin:auto;
    background-color:#c0c0c0;
    position: relative;
    right:550px;
    top:25%;
}
.footerbar > #footer{
    width:600px;height:250px;margin:auto;
    float:left;
    font:bold 12px/28px arial;
    position: relative;
    top:12px;left:300px;
}
/* footer2  */
.footerbar > .footer2 > h1{padding-bottom:18px;font:20px/16px arial;}

.footerbar > .footer2 {
    float:left;
    font:bold 14px/38px arial;
    position: relative;
    top:10px;left:400px;
}
.footerbar > .footer2> a{color:#000;}
.footerbar > .footer2> a:hover{color:gray;}
/* footer2 end  */


/* footer3  */
.footerbar > .footer3{
    float:left;
    position: relative;
    font:bold 14px/38px arial;
    top:44px;left:420px; 
}
.footerbar > .footer3> a{color:#000;}
.footerbar > .footer3> a:hover{color:gray;}
/* footer 3 end  */

/* footer4 */

.footerbar > .footer4{
    float:left;
    position: relative;
    font:bold 14px/40px arial;
    top:10px;left:500px;
}

.footerbar > .footer4 > a{
    color:white;
    background-color:#000;
    border:20px solid #000;
    position: fixed;
    top:800px;right:90px;
}
 