@charset 'utf-8';

/* reset */
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background: url(../images/flower.png) no-repeat center top;
  height: 2000px;
}

#menu {
  position: fixed;
  top: 50px;
  left: 0;
}
li {
  width: 150px;
  height: 80px;
  border-radius: 10px;
}

li:nth-child(1) {
  background-color: red;
}
li:nth-child(2) {
  background-color: pink;
}
li:nth-child(3) {
  background-color: yellow;
}
li:nth-child(4) {
  background-color: green;
}
li:nth-child(5) {
  background-color: cyan;
}
li:nth-child(6) {
  background-color: navy;
}
li:nth-child(7) {
  background-color: purple;
}

li a {
  display: block;
  width: 100%;
  height: 100%;
}
