/* reset */
* {
  margin: 0;
  padding: 0;
}

#header {
  width: 600px;
  margin: auto;
  padding-top: 20px;
}
#header > #gnb {
  height: 80px;
  background-color: #efefef;
}

/* 1차 메뉴 */
#header > #gnb > li {
  width: 120px;
  float: left;
  text-align: center;
  position: relative; /* 2차 메뉴 기준 */
}
#header > #gnb > li > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #222;
  font: bold 18px/80px "나눔고딕";
}

/* 1차 메뉴에 마우스 올렸을 때 */
#header > #gnb > li.over > a {
  background-color: red;
  color: #fff;
}

/* 2차 메뉴 */
#header > #gnb > li > ul {
  position: absolute;
  top: 80px;
  left: 0;
  width: 108px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
}
/* g하위메뉴보이기 */
#header > #gnb > li > ul.on {
  display: block;
}

#header > #gnb > li > ul > li {
  position: relative;
}
#header > #gnb > li > ul > li > a {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 8px;
}
/* 2차메뉴 마우스 */
#header #gnb li > ul > li.over > a,
#header #gnb li > ul > li > a:hover,
#header #gnb li > ul > li > a:active,
#header #gnb li > ul > li > a:focus {
  background-color: red;
  color: #fff;
  position: relative;
}
#header #gnb li > ul > li > a > span {
  position: absolute;
  top: 30%;
  right: 10%;
  font-size: 11px;
}

/* 3차 메뉴 */
#header > #gnb > li > ul > li > ul {
  position: absolute;
  top: 0;
  right: -120px;
  width: 108px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
}
